@import url("./responsividade_nav.css");
@import url('https://fonts.googleapis.com/css2?family=Konkhmer+Sleokchher&family=Montserrat:wght@300;400;500;600;700&family=Raleway:wght@500;700&family=Righteous&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Konkhmer Sleokchher', cursive;
}

html {
    scroll-behavior: smooth;
  }

header {
    width: 100%;
    position: fixed;
    top: 0;
}

.nav_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 0px 0px 4px 1px #373535;

}

.nav_header li {
    display: inline-block;
    padding: 10px;
    padding-left: 25px;
}

.nav_header ul {
    list-style: none;
    padding: 15px;
}

.nav_header ul li a {
    text-decoration: none;
    font-size: 1em;
    color: black;
    position: relative;
    transition: all 0.6s;
    font-family: 'Konkhmer Sleokchher', cursive;
    font-size: 400;
}

.nav_header ul li a:hover {
    background-color: black;
    color: white;
    padding: 15px;
    border-radius: 15px;
}


.nav_header .logo {
    padding-top: 20px;
    padding-left: 25px;
    height: 10vh;
    padding-bottom: 2px;
}

/* ------------------------------------------------------------------ */

.contato_section {
    margin-top: 80px;
    padding: 50px 0;
  }
  
  .contato_container {
    max-width: 600px;
    margin: 0 auto;
    padding: 0 20px;
  }

  .contato_container h2{
    text-align: center;
    color:#1e0249;
  }
  
  .contato_form {
    display: grid;
    gap: 20px;
  }
  
  .form_group {
    margin-bottom: 20px;
  }
  
  label {
    font-size: 1rem;
    font-weight: bold;
    display: block;
  }
  
  input,
  textarea,
  select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: 'Konkhmer Sleokchher', cursive;
    font-size: 1rem;
  }
  
  textarea {
    resize: vertical;
  }
  
  button[type="submit"] {
    width: 100%;
    background-color: #1e0249;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-family: 'Konkhmer Sleokchher', cursive;
    font-size: 1rem;
    cursor: pointer;
  }

  .error {
    color: red;
}

/* ------------------------------------------------------------------ */

.footer_creater {
    color: black;
    background-color: #fff;
    padding: 10px;
    position: relative;
    text-align: center;
    font-family: 'Konkhmer Sleokchher', cursive;
    font-size: 13px;
    box-shadow: 0px 0px 4px 1px #373535;
}

.footer_creater strong{
    color:#1e0249;
}

@media (max-width: 480px) {
    .nav_header .logo {
        padding-top: 20px;
        padding-left: 75px;
        height: 10vh;
    }

    .nav_toggle{
        top: 35px;
      }
  
  }