@media screen and (max-width: 768px) {

    .inicio,
    .conteudo1,
    .conteudo2,
    .conteudo3,
    .conteudo4 {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 0;
        width: 100%;
        min-width: auto;
    }

    .text {
        text-align: center;
    }

    .conteudo3 .text {
        order: 1;
      }
    
      .conteudo3 .img {
        order: 2;
      }
    }